{{> includes/header}}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="col-12">
		<div class="card shadow mb-4">
			<!-- Card Header - Accordion -->
			<a href="#collapseCardPayment" class="d-block card-header py-3"
				data-toggle="collapse" role="button" aria-expanded="true"
				aria-controls="collapseCardExample">
				<h6 class="m-0 font-weight-bold text-primary">Pago</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardPayment" style="">
				<div class="card-body">
				
					{{#cards}}
					<div class="row">
						<div class="col-8">
							<h6><strong>Tarjeta {{-index}}:</strong> {{displayNumber}}</h6>
						</div>
						<div class="col-4">
							<form method='post' action='/deleteCard'>
							<input type="hidden" name="cardNumber" value={{cardNumber}} />
							<input type="submit" value='Eliminar' class="btn btn-danger btn-user btn-block" />
							</form>
						</div>
					</div>
					<br>
					{{/cards}}
					
					{{^cards}}
					<div class="col12">No existen tarjetas</div>
					<br>
					{{/cards}}
					
					<a href="/addCard" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="">
						<i class="fas fa-credit-card"></i>&emsp;A&ntilde;adir una tarjeta
					</a>
					
				</div>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->

{{> includes/footer}}
