{{> includes/header}}

	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	 <div class="container-fluid">

          <!-- Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="{{errorNum}}">{{errorNum}}</div>
            <p class="lead text-gray-800 mb-5">{{errorName}}</p>
            <p class="text-gray-500 mb-0">{{errorMsg}}</p>
            <a href="/">← Volver al Inicio</a>
          </div>

        </div>
	
	</div>
	<!-- /.container-fluid -->

{{> includes/footer}}